html{
  padding: 0 3.125rem;
  background-color: black;
}

header{
  height: 8.55rem;
  display: flex;
  background-image: url(../img/Pipe.png);
  background-repeat: no-repeat;
  background-size: 43.125rem  8rem;
  background-position-y: bottom;
  justify-content: space-between;
  align-items: flex-start;
 
}
#Pontuacao{
       display:flex;
       color:#F4F4F4;
       font-family: 'Nunito', sans-serif;
       font-weight: 700;
       font-size: 2.5rem;
       line-height: 3.41rem;
       gap: 7.625rem;
       margin-left: 5.375rem;
       margin-top: 3.0625rem;
}

button{
      background-color:#E52521;
      width: 12.5rem;
      height: 3.25rem;
      border:.1875rem solid #F4F4F4;
      font-family: 'Nunito', sans-serif;
      font-weight: 400;
      font-size: 2.25rem;
      line-height: 3.0688rem;
      color: #FFFFFF;
      border-radius: .625rem;
      text-align: center;
      margin-right: 6rem;
      margin-top: 3.0625rem;
}

body{
 background-image: url(../img/bg.png);
 background-repeat: no-repeat;
 background-size: cover;
  height: 45rem;
  max-width: 80rem;
  margin:0 auto;
  border-radius: 10px;
  margin-top: 5.5rem;
  
}

main{
  max-width: 75rem;
  margin:auto;
  height: 36.25rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding:0 7.125rem 0 9.4375rem;
  flex-wrap: wrap;
  margin-top:  1.375rem;
}main img{
  height: 12.5rem;
  width: 12.5rem;
}