html{
    padding: 0 3.125rem;
    background-color: black;
}

body{
   background-image: url(../img/bg.png);
   background-repeat: no-repeat;
    height: 45rem;
    max-width: 80rem;
    margin:0 auto;
    border-radius: 10px;
    margin-top: 5.5rem;
    padding-top: 5.5625rem;
}

main{
    background: #F4F4F480;
    max-width: 75rem;
    margin:auto;
    height: 36.25rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding:4.375rem 7.125rem 0 9.4375rem;

}#logoMario{
    height: 11.4375rem;
    max-width: 25rem;
}#logoMaratonaNome{
    max-width: 25rem;
    height: 5.3125rem;
}#logoKenzie{
    max-width: 10.3125rem;
    height: 2.5625rem;
}#Logos{
    display: flex;
    flex-direction: column;
}#Jogar{
    max-width: 25rem;
    display: flex;
    flex-direction: column;
}#Jogar p{
    font-size: 2rem;
    line-height: 2.75rem;
}#Jogar button{
    max-width: 25rem;
    height: 6.5rem;
 
}
