html{
    padding: 0 3.125rem;
    background-color: black;
}

body{
   background-image: url(../img/bg.png);
   background-repeat: no-repeat;
    height: 45rem;
    max-width: 80rem;
    margin:0 auto;
    border-radius: 10px;
    margin-top: 5.5rem;
    padding-top: 5.5625rem;
}

main{
    background: #F4F4F480;
    max-width: 75rem;
    margin:auto;
    height: 36.25rem;
    border-radius: 10px;
   

}#logoMario{
    height: 11.4375rem;
    width: 25rem;
}#logoMaratonaNome{
    width: 25rem;
    height: 5.3125rem;
}#logoKenzie{
    width: 10.3125rem;
    height: 2.5625rem;
}#Logos{
    display: flex;
    flex-direction: column;
}
